/*
Theme Name: Grand Final Comedy debate
Theme URI: http://www.grandfinalcomedydebate.com.au/
Description: Holding Site
Author: EStephanie Rondos
Version: 1.0
*/

/* Undo some default styling of common (X)HTML browsers */

/* No list-markers by default - * must redefine bullets w/ bg graphics */
ul {
    list-style:none;
}
/* Avoid browser default inconsistent heading, * font-sizes and pre/code*/
td, code, pre, h6, h5, h4, h3, h2, h1, body {
    font-size:1em;
}
/* Remove inconsistent (among browsers) - * default padding or margin */
hr, img, td, tr, table, dl, dt, dd, div, label, input, fieldset, blockquote, p, html, body, form, pre {
    margin:0; padding:0;
}
h6, h5, h4, h3, h2, h1 {
    margin:0; padding:0;
}
li, ol, ul {
    margin:0; padding:0;
}
/* prevent blue linked image borders */
fieldset {
    border:none;
}
:visited img {
    border:none;
}
:link img {
    border:none;
}
a img {
    border:none;
}

section, article, header, footer, nav, aside, hgroup {
	display:block;
}

/* Begin Styles */

@font-face {
    font-family: 'DINRegular';
    src: url('../fonts/din-regular-webfont.eot');
    src: url('../fonts/din-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/din-regular-webfont.woff') format('woff'),
         url('../fonts/din-regular-webfont.ttf') format('truetype'),
         url('../fonts/din-regular-webfont.svg#DINRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body, html {
	font-family: 'DINRegular', Arial, sans-serif;
	font-size:13px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	letter-spacing:0;
	color:#666;
}

/*html, body { 
	background: url(../images/background.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}*/


h1, h2, h3, h4, h5, h6 {
    font-weight:normal;
    color:#333;
    letter-spacing:0;
    padding:0 0 10px 0;
}

h1 {
    font-size:24px;
}

h2 {
    font-size:22px;
}

h3 {
    font-size:20px;
}

h4 {
    font-size:18px;
}

h5 {
    font-size:16px;
}

h6 {
    font-size:14px;
}

p {
    line-height:20px;
    padding:0 0 15px 0;
}

/* use for contact details */
address {
    font-style:normal;
}

/* use for acronyms in content */
acronym {
    border-bottom:1px #ccc dotted;
    cursor:help;
}

/* use for blockquotes in content */
blockquote {
    padding:0 0 0 30px;
    font-style:italic;
}

a, a:link, a:visited, a:active {
    text-decoration:none;
    border-bottom:none;
}

nav a:hover, .current_page_item {
    border-bottom:1px #fff solid !important;
}


.container_12 {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}

.pink {background-color: #E80089;}

.no-margin {
    margin-right: 0 !important; 
}

/* End Styles */

/* Begin Structure */

section, article, header, footer, nav, aside, hgroup {
	position:relative;
}

header {
	width:100%;
        height: 60px;
        z-index: 0;
}

nav {
    text-align: right;
    padding-right: 40px !important;
    
}    

nav ul { float: right; margin-top: 15px;}

nav ul li {
    float: left;
    list-style-type: none;
    font-size: 1.4em;
    margin-left: 45px;
}

nav ul li a {
    color: #ffffff;
}

nav ul li a:hover {
    color:#ffffff;
    border-bottom:1px #fff solid;
    
}


hgroup {
    width:276px;
    margin-bottom: 30px;
}

hgroup h1 {
    background: transparent url('../images/logo.png') 0 0 no-repeat;
    width:154px;
    height:300px;
    text-indent:-999999px;
    margin-left:56px;
    margin-bottom:20px;
}

hgroup h3 {
    font-size: 22px;
    color:#fff;
    text-align: center;
    padding: 0;
}

h2.tickets {
    width:296px;
    height:102px;
    color:#fff;
    background:#E80089;
    font-size:28px !important;
    padding-left:27px;
    text-align: center;
    padding-top: 20px;
    padding-bottom:25px;
}

h2.tickets span {
    font-size:0.5em;
}

h2.tickets a {
    color:#fff;
    border-bottom: none;
    
}

.left-tab {
    height:80px;
    background: transparent url('../images/corner_pink.png') no-repeat left top;
}

.tab-container {
    
    width:612px;
    padding-left:35px;
    margin-left:-54px;
    margin-top:10px;
    margin-bottom: 5px;

}

.long-tab-container {
    background: transparent url('../images/long_corner_pink.png') no-repeat left top;
    height:164px;
    width:34px;
    margin-left: -34px;
}

.wide-tab-container {
    height:80px;
    background: transparent url('../images/corner_pink.png') no-repeat left top;
    width:100%;
    padding-left:35px;
    margin-left:-34px;
    margin-top:10px;
    margin-bottom: 5px;
}

.footer-header {
    width: 925px !important;
    padding-left:27px !Important;
}

.footer-header a {
    color:#ffffff;
}


h3.right-header {
    width:522px;
    height: 50px;
    line-height: 60px;
    color: white;
    background:#E80089;
    font-size: 30px;
    padding-left: 55px;
}

.right-tab {
    background: url('../images/corner_pink_right.png') no-repeat center;
    width: 35px;
    height: 80px;
    position:relative;
}

.med-right-tab {
    left: 577px;
    top: -62px;
}

.long-right-tab {
    background: transparent url('../images/long_corner_pink_right.png') no-repeat left top;
    height:164px;
    width:34px;
    position:relative;
    left: 310px;
    top: -147px;
}

.wide-right-tab {
    left: 952px;
    top: -62px;
}


.side-content {
    width:276px;
    height:770px;
    padding-top:25px;
    float:left;
    background: #595557;
    z-index: 10;
    position:relative;
    top: -60px;
    box-shadow: 0 0 10px #000000;
}

.shadow-container {
    clear:both;
}


.side-content-shadow {
    width: 344px;
    height: 90px;
    background: transparent url('../images/lhs_blockrepeater_bottom.png') no-repeat left top;
    position:absolute;
}
.main-content {
    width:539px;
    background: #595557;
    padding-top:10px;
    float:left;
    padding: 10px 19px 50px 19px;
    margin: 50px 0 50px 100px;
    min-height: 625px;
}

.main-content-shadow {
    width: 495px;
    height: 90px;
    background: transparent url('../images/rhs_blockrepeater_bottom.png') no-repeat left top;
    margin-left: 504px;
    position: absolute;
}

.main-content p {
    padding: 0 15px 10px 15px;
    font-size:18px;
    color:#fff;
    line-height:26px;
}

.main-content div {
    color:#fff;
    font-size:18px;
}

.price-list h4 {padding-left:15px;}

.price-list p {
    
    margin: -35px 0 10px 70px;
}

.main-content img {
    display:block;
    margin: 10px auto 25px auto;
}

.main-content p a, .main-content span, .main-content h4 {
    color:#F185B6;
    font-weight:bold;
    border-bottom:none;
}

.home h4 {
    padding: 15px 10px;
    color: #ffffff;
}

section#branding {
	
}

#subForm {
    margin-left:15px;
}

#subForm input {
    background:url('../images/input_box.png'); 
    width:365px;
    height:30px;
    line-height:30px;
    color:#fff;
    font-size:16px;
    border:none;
    margin-bottom:10px;
    padding: 5px 10px;
    text-shadow: 1px -1px 2px black;
    filter: dropshadow(color=#000000, offx=1, offy=-1);
    display: block;
    font-style:oblique;
}

#subForm label {
    display: none;
}

.submit {
    background:url('../images/submit_btn.png') !important; 
    width:92px !important;
    height:40px !important;
    float:right;
    margin-right:25px;
    text-align: center;
    margin-top: -50px;
    cursor: pointer;
}

.facebook {
    font-size: 20px;
    color: white;
    background: url('../images/facebook_32x32.png') no-repeat top left;
    display: block;
    width: 200px;
    height: 32px;
    line-height: 32px;
    padding-left: 40px;
    margin-left: 30px;
    margin-top: 20px;
    
}

.facebook:hover, .twitter:hover {
    border-bottom:none;
    color:#fff;
}

.twitter {
    font-size: 20px;
    color: white;
    background: url('../images/Twitter_32x32.png') no-repeat top left;
    display: block;
    width: 200px;
    height: 32px;
    line-height: 32px;
    padding-left: 40px;
    margin-left: 30px;
    margin-top: 30px;
    
}

footer {
    clear:both;
    margin-top: 30px;
}

#sponsors-container {
    background: #595557;
    margin-right: 47px;
    position: relative;
    top:-25px;
    padding: 0 20px;
    overflow: auto;
}

#sponsors-container h4 {
    color: #ffffff !important;
    font-weight:bold;
    font-size:1.5em !important;
}

#main-sponsor, #support-partners {
    float:left;
}

#support-partners {
    margin-top:15px;
}

#main-sponsor h4, #sponsors-container h4 {
    padding-top: 0 !important;
    padding-right: 0 !important;
}

#main-sponsor article {
    margin-right: 20px !important;
}

#main-sponsor {
    border-right: 2px solid #E80089;
    margin: 15px 15px 15px 0;
}

#sponsors-container article {
    float: left;
    margin: 0px 20px 20px 10px;
}

#sponsors-container a {
    display:block;

}

/* End Structure */

/* Begin Lists */

ul {
    list-style:disc outside;
}

ol {
    list-style:decimal inside;
}

/* End Lists */

/* Comedians page (Awards page also uses these styles) */

#comedians article, .gallery-item {
    width:235px;
    border: 8px solid #545556;
    float: left !important;
    transition: all 0.4s ease-in-out; 
    -webkit-transition: all 0.4s ease-in-out; 
    -moz-transition: all 0.4s ease-in-out; 
    margin-bottom: 20px;
}

#comedians article:nth-child(2n+1) {
    margin-right:25px;
}

#comedians article:hover, .gallery-item:hover {
    transition: all 0.4s ease-in-out; 
    -webkit-transition: all 0.4s ease-in-out; 
    -moz-transition: all 0.4s ease-in-out; 
    border: 8px solid #E80089;
}

#comedians article img {margin: 0 !Important;}
#comedians article label {
    display:block;
    background-color: #E80089;
    height:40px;
    line-height: 40px;
    color: #fff;
    font-size:20px;
    text-align: center;
}

.margin-right {
    margin-right: 25px;
}

/*** Photos page - some styles above with comedians page ***/

.gallery-item img {margin: 0 !important; }

.gallery-item {
    margin-right: 25px;
}

.gallery-item:nth-child(2n+2) {
    margin-right:0;
}

/*** EVENT DETAILS *****/

#event-details {
    text-align: center;
}

#event-details label, #event-details ul, #event-details h5, #event-details h6 {
    color: #ffffff;
}

#event-details h5 {
    font-size: 1.4em;
}

#event-details h4 {
    font-size: 1.7em;
    margin-top:20px;
    clear: right;
}

#event-details h4 a {
    color: #F185B6;
    
}

#event-details h4 a:hover {
    text-decoration:underline;
}

#event-details h6 {
    padding-bottom:3px;
}

#event-details ul {
    list-style-type:none;
}

#event-details li {
    font-size: 1.6em;
    margin-bottom: 6px;
}

#chef {
    background-color: #ffffff;
    padding: 10px 0 0 30px;
    height:189px;
    margin: 20px 15px 10px 15px;
}

#chef br {
    display: none;
}

#chef img {
    float: right;
    margin: 0 0 15px 0;
}

#chef blockquote {
    padding-top: 17px;
}

#chef blockquote, #chef p {
    text-align:left;
    padding-left: 0 !Important;
    color:#E80089;
}

#chef p {
    font-size: 16px;
}


.footnote {
    display:block;
    font-size: 0.7em !important;
    line-height: 1.1em !Important;
    font-weight:normal !important;
    margin-bottom: 20px;
}

/** Awards and Comedians single page styles ****/

.single-posts p {
    margin-bottom: 10px;
}

.single-posts img {
    display:inline !important;
    float:right !important;
    margin-left:10px;
}

/*** Partners page ***/

.partners h2 {
    color:#ffffff;
    padding-left:10px;
    clear: left;
}

.float-logos ul li {
    list-style-type:none;
    float:left;
    margin-right: 30px;
}


.afl-ewn {
    float:left;
    margin-right:40px;
}

.single-partner img {
    margin: 20px 0 35px 30px !Important;
}

.afl-ewn a {cursor:auto;}

#hamish, #belinda {
    clear: both;
    background:#ffffff;
    overflow:auto;
    width: 510px;
    margin-left: 10px;
}

#belinda {margin:20px 0 20px 10px !important;}

#hamish img {
    margin: 0;
    margin-left:10px;
    float:left;
}

#belinda img {
    float:right;
    margin:0;
}

#hamish label, #belinda label {margin: 13px 0 10px 5px; display:block; color: #e80089;}
#belinda label {margin-left: 30px; margin-top: 25px;}
#belinda label a {color: #e80089; font-size: 1.1em;}
#belinda label a:hover {text-decoration:underline;}
#hamish p, #belinda p {color: #595557; font-size: 0.8em; line-height: 1.2em;}

/*** Auctions Pages ***/

.auctions a {
    color: #F185B6;
    font-weight: normal;
}

.item, .live-cat article {
    margin-bottom: 25px;
    padding-bottom: 25px;
    border-bottom: 1px #ffffff solid;
    overflow:auto;
}

.item h2 {
    color: #F185B6;
    font-size: 1.6em;
    padding-left:15px;
}
.item h2 a {
    padding-left: 0 !important;
}

.auctions .item a {
    display:block;
    margin-top: 10px;
}

.auctions .item a img {
    display: inline-block;
    margin: 2px 0 0 5px !important;
}

.item h3, .live-cat article h3 {
    color: #ffffff;
}

 .live-cat article h4 a, .live-cat article label {color: #F185B6;}

.item h3, .item a, .item label, .item ol,.live-cat article ol, .live-cat article h3, .live-cat article h4, .live-cat article label {padding-left:15px;}

#categories {
    list-style-type:none;
}

#categories li {
    float: left;
    margin-left: 18px;
    margin-bottom: 18px;
}

#categories li a {
    color: #ffffff;
    width:245px;
    height:72px;
    display:block;
    line-height:72px;
    background-color: #E80089;
    text-align:center;
}

.cat article {
    margin-bottom: 25px;
    border-bottom: solid #ffffff 1px;
    overflow:auto;
    padding-bottom: 15px;
    clear:both;
}

.cat h4, .cat label {
    margin-left: 15px;
}
.cat article ol {
    list-style-type: decimal !important;
}

.back-btn {
    padding: 7px 10px;
    background-color: #E80089;
    color: #ffffff !important;
    display:inline-block;
    font-size: 0.85em;
    float:right;
    position:relative;
    bottom: -25px;
    z-index: 10;
    margin-bottom:15px;
    margin-right: 15px;
}

.edit-link {
    display:none;
}

.auctions article p a img, .auctions article p img, .auctions article img, .live-cat article img, .live-cat article p img, .item p img {
    margin: 0 !Important;
    float:right;
    margin-left:12px !Important;
    margin-bottom: 12px !important;
    width: 150px;
    height:auto;
}

#silent-auction-cats {
    overflow:auto;
}